<!--Here, I'll be creating the Index for Users, based on the ASP.NET exercise's code:-->
@model IEnumerable<User>

<h2>Users</h2>
<table class="table">
    <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Height in Inches</th>
        <th>Starting Weight</th>
        <th>Fast Start Date</th>
        <th>Time to Fast</th>
        <!--Time to Fast may be a big vague. Might change later.-->
    </tr>

    @foreach(var user in Model)
    {
        <tr>
            <td><a
                   href=/User/ViewUser/@user.UserID>@user.UserID</a></td>
            <td>@user.UserID</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.HeightInInches</td>
            <td>@user.StartWeight</td>
            <td>@user.FastStartDate</td>
            <td>@user.TimeToFast</td>
        </tr>
    }
</table>